body{

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300px;
    font-style: normal;
  
  background-color: black;
  margin: 0;
  color: #fff;
  overflow: hidden;

}

.main {
    display:flex;
    height:100vh;
    padding:0.5rem
}

.sidebar {
    background-color:black;
    width: 340px;
    border-radius: 1rem;/*16px*/
    margin-right: 0.5rem;


}

.main-content{

    background-color:#121212 ;
    flex: 1;
    border-radius: 1rem;/*16px*/
    overflow: auto;   
    padding: 0 1.5rem 0 1.5rem ;
}

.music-player {
    background-color:black;
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 75px;
    border-radius: 1rem;/*16px*/
    left: 0;

}



a{
    text-decoration: none;
    color: #fff;
}

.nav{
    background-color: #121212;
    border-radius: 1rem;
    height: 100px;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: #121212;
}

.nav-option{
    line-height: 2.5rem;
    opacity: 0.7;
    padding: 0.5rem 0.75rem;
}

.nav-option:hover{
    opacity: 1;
}

.nav-option i{
    font-size: 1.25rem;
}

.nav-option a {
    font-size: 1rem;
    margin-left: 1rem;
}


.library{
    background-color: #121212;
    border-radius: 1rem;
    height: 100%;
    margin-top: 0.75rem;
    padding: 0.5rem 0.75rem;    
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lib-option img{
    height: 1rem;
    width: 1rem;
}

.icon{
    display:flex;
    font-size: 1.30rem;
}

.icon i{
    opacity: 0.7;
    margin-right: 1rem;
}

.icon i:hover{
    opacity: 1;
    margin-right: 1rem;
}

.box{
    background-color: #232323;
    height:8rem;
    border-radius: 0.75rem;
    margin: 0.75rem 0 1.75rem 0;
    padding: 0.75rem 1.25rem;

}
.box-1{
    font-size: 1rem;
 font-weight: 500;
}

 .box-2{
    font-size: 0.75rem;
    opacity: 0.9;
 }
 .badge{
    background-color: #fff;
    border: none;
    border-radius: 100px;
    font-weight: 700;
    padding: 0.25rem 1rem;
    margin-top: 0.5rem;
    height: 2rem;
    width: fit-content;

 }

 .sticky-nav{
    background-color:#121212;
    position:sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0 1rem 0;
    z-index: 5;

 }

 .sticky-nav-icons{
    margin-left: 0.75rem;
 }
 
 .sticky-nav-options{
    display: flex;
    justify-content: center;
    align-items: center;
 }

.nav-item{
    margin-right: 1.5rem;
}

.dark-badge{
    background-color: black;
    color: #fff;
}

@media(max-width:1000px){
    .hide{
        display: none;
    }
}
 

.card{
    background-color: #232323;
    width: 150px;
    padding: 1rem;
    margin-left: 1.5rem;
    margin-top: 1rem;
}

.card-container{
    display: flex;
flex-direction: row;
flex-wrap: wrap;

}

.a{
    display: flex;
    flex-direction: column;
}

.card-img{
    width: 100%;
    border-radius: 0.5rem;
}

.card-title{
    font-weight:600;
}
.card-info{
    font-size: 0.85rem;
    opacity: o.8;
} 

.footer{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line{
    width: 90%;
    height: 30%;
    opacity: 0.5;
    border-top: 1px solid white;
}



.music-player{
    display: flex;
    justify-content: center;
    align-items: center;

}
.album{
    width: 25%;
    background-color: black;
}

.player{
    width: 50%;
    
    background-color:black;
}

.controls{
    width: 25%;
    
    background-color:black;
}

.player-control{

    display: flex;
    justify-content: center;
    align-items: center;


}
.player-control-icon{
    width: 1rem;
    margin-right: 1.75rem;
    opacity: 0.7;
}

.player-control-icon:hover{
    opacity: 1;
}


.playback-bar{

    display: flex;
    justify-content: center;
    align-items: center;

}
.progress-bar{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
}

.progress-bar::-webkit-slider-runnable-track{

    background-color: #bbb;
    border-radius: 100px;
    height: 0.2rem;

}

.progress-bar::-webkit-slider-thumb{

    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;




}

.container2{

    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;

}

.container2-item{
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.a1{
    height: 3rem;
}

.a2{
    height: 3rem;
}
.a3{
    height: 1.5rem;
}
.a4{
    height: 1.5rem;
}
.a5{
    height: 3rem;
}

.container2-item{
    opacity: 0.7;
}

.container2-item:hover{
    opacity: 1;
}

.a6{
    width: 70%;
    appearance: none;
    background-color: transparent;
    cursor: pointer;
    
}

.a6::-webkit-slider-runnable-track{

    background-color: #bbb;
    border-radius: 100px;
    height: 0.2rem;

}

.a6::-webkit-slider-thumb{

    appearance: none;
    height: 1rem;
    width: 1rem;
    background-color: #1bd760;
    border-radius: 50%;
    margin-top: -6px;

}

.container1{

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height:75px
}

.container1-item{
    
    display: flex;
    justify-content: space-evenly;
    align-items:center;
    margin-right: 2px;
    
}

.b1{
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.b2:hover{
 opacity: 1;   
}

.b4{
    height: 2rem;
}
.b5{
    height: 3rem;
}


/*  responsive style code y akash yadav */

/* main-nav start */


@media(max-width:600px){
    .arrowr{

        display: none;

    }
}
/* main-nav end */

/* bottom-left start */

@media(max-width:820px){
    .container1{
        *{
width: 20%;
font-size: 20%;
        }
    }
}

 @media(max-width:440px){
    .container1{
        display: none;
    }
} 
/* bottom-left end */

/* bottom-mid start */


@media(max-width:240px){
    .container3{
        display: none;
    }
} 

/* bottom-mid end */


/* bottom-right start */

@media(max-width:820px){
    .container2{
        *{
width: 20%;
        }
    }
}

 @media(max-width:440px){
    .container2{
        display: none;
    }
} 

/* bottom-right end */


/* side-bar  start */
@media(max-width:670px){
    .sidebar{

        width:45%;
        
        
    }
}  

@media(max-width:525px){
    .sidebar{

    display: none;
        
        
    }
}  

/* side-bar end */

/* card-container start */
@media(max-width:844px){
    .card{

        width:25%;
        height: 35%;
        
        
    }
}  

/* card-container start */


/* hover start */

/* card hover start */

.card:hover{
    background-color: #121212;
    .card-title{
        color: gold;
    }
    .card-info{
        color: goldenrod;
    }
}



.box:hover{
    background-color: #121212;
    
    .box-1{
        color: gold
    }
    .box-2{
        color:rgb(228, 168, 17);
    }

    .badge{
        background-color: chartreuse
    }
}


.a:hover{
    h2{
    color: rgb(139, 247, 31);
    }
}

.badge .nav-item .hide:hover{
    
    animation: none;
    background-color: chartreuse;
}



.e1:hover{
    opacity: 1;
}



/* nav */

.music-player{
    
  animation: myfirst 5s infinite;
  animation-direction: alternate;
  width: 100%;
}


@keyframes myfirst {

    
     0%   {background: black;  color: red;}
    25%  {background: black;   color: yellow;}
    50%  {background: black;   color: gold;}
    75%  {background: black;   color: chartreuse;}
    100% {background: black; color: chocolate;} 
  }










